<div class="row">
  <div class="jumbotron">
    <h1>Movie App</h1>
    <p class="lead">Welcome to the demo movie app!</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <form name="search" class="form-group" role="form">
      <div class="input-group">
          <input type="text" name="query" required ng-model="main.query" class="form-control" placeholder="Search movie...">
          <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-disabled="!search.query.$valid" ng-click="main.search()">Search</button>
          </span>
      </div>
    </form>
  </div>
</div><!-- /.row -->

<div class="row">
  <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="item in main.dataResult.results track by $index">
    <div class="thumbnail">
      <img ng-src="{{item.poster_path | posterimage:main.dataInit}}" alt="...">
      <div class="caption">
        <h3>{{item.original_title}}</h3>
        <p>{{item.overview}}</p>
        <p><a href="#!/movie/{{item.id}}" class="btn btn-primary" role="button">View Detail</a> <a href="#!/movie/{{item.id}}" class="btn btn-default" role="button">View Detail</a></p>
      </div>
      <p>Rating: {{item.vote_average}} <span ng-repeat="i in [].constructor(item.vote_average | roundnumber) track by $index" class="glyphicon glyphicon-star"></span></p>
    </div>
  </div>
</div>